@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oxygen";
  text-decoration: none;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,500 L 0,75 C 76.48461538461538,62.77564102564103 152.96923076923076,50.55128205128206 247,63 C 341.03076923076924,75.44871794871794 452.60769230769233,112.57051282051285 516,148 C 579.3923076923077,183.42948717948715 594.6,217.16666666666666 680,233 C 765.4,248.83333333333334 920.9923076923078,246.7628205128205 1004,264 C 1087.0076923076922,281.2371794871795 1097.430769230769,317.78205128205127 1158,352 C 1218.569230769231,386.21794871794873 1329.2846153846153,418.10897435897436 1440,450 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,75 C 65.36410256410255,54.329487179487174 130.7282051282051,33.65897435897435 221,56 C 311.2717948717949,78.34102564102565 426.4512820512821,143.69358974358974 520,183 C 613.5487179487179,222.30641025641026 685.4666666666667,235.5666666666667 746,243 C 806.5333333333333,250.4333333333333 855.6820512820512,252.03974358974358 936,281 C 1016.3179487179488,309.9602564102564 1127.805128205128,366.27435897435896 1217,399 C 1306.194871794872,431.72564102564104 1373.0974358974358,440.8628205128205 1440,450 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,75 C 69.32051282051285,67.50641025641025 138.6410256410257,60.01282051282051 221,77 C 303.3589743589743,93.98717948717949 398.75641025641016,135.45512820512823 493,174 C 587.2435897435898,212.54487179487177 680.3333333333334,248.16666666666663 760,257 C 839.6666666666666,265.83333333333337 905.9102564102564,247.8782051282052 984,267 C 1062.0897435897436,286.1217948717948 1152.025641025641,342.3205128205128 1230,379 C 1307.974358974359,415.6794871794872 1373.9871794871794,432.8397435897436 1440,450 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,75 C 98.79999999999998,81.09615384615384 197.59999999999997,87.1923076923077 264,97 C 330.40000000000003,106.8076923076923 364.4,120.32692307692307 435,136 C 505.6,151.67307692307693 612.8,169.49999999999997 719,197 C 825.2,224.50000000000003 930.4000000000001,261.67307692307696 1001,294 C 1071.6,326.32692307692304 1107.6,353.80769230769226 1175,379 C 1242.4,404.19230769230774 1341.2,427.09615384615387 1440,450 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,75 C 76.48461538461538,62.77564102564103 152.96923076923076,50.55128205128206 247,63 C 341.03076923076924,75.44871794871794 452.60769230769233,112.57051282051285 516,148 C 579.3923076923077,183.42948717948715 594.6,217.16666666666666 680,233 C 765.4,248.83333333333334 920.9923076923078,246.7628205128205 1004,264 C 1087.0076923076922,281.2371794871795 1097.430769230769,317.78205128205127 1158,352 C 1218.569230769231,386.21794871794873 1329.2846153846153,418.10897435897436 1440,450 L 1440,500 L 0,500 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,500 L 0,175 C 90.90769230769229,171.67564102564103 181.81538461538457,168.35128205128208 259,175 C 336.1846153846154,181.64871794871792 399.6461538461539,198.2705128205128 475,230 C 550.3538461538461,261.7294871794872 637.6,308.56666666666666 711,347 C 784.4,385.43333333333334 843.9538461538459,415.4628205128206 936,429 C 1028.046153846154,442.5371794871794 1152.5846153846155,439.5820512820512 1242,457 C 1331.4153846153845,474.4179487179488 1385.7076923076922,512.2089743589744 1440,550 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,175 C 94.52820512820512,173.50897435897434 189.05641025641023,172.0179487179487 274,185 C 358.94358974358977,197.9820512820513 434.30256410256413,225.43717948717944 500,245 C 565.6974358974359,264.56282051282056 621.7333333333332,276.23333333333335 703,296 C 784.2666666666668,315.76666666666665 890.7641025641026,343.62948717948717 967,384 C 1043.2358974358974,424.37051282051283 1089.2102564102565,477.24871794871797 1163,507 C 1236.7897435897435,536.751282051282 1338.3948717948717,543.375641025641 1440,550 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,175 C 77.30769230769232,169.00897435897434 154.61538461538464,163.0179487179487 229,175 C 303.38461538461536,186.9820512820513 374.8461538461538,216.9371794871795 445,236 C 515.1538461538462,255.0628205128205 584,263.2333333333333 677,296 C 770,328.7666666666667 887.1538461538464,386.1294871794872 987,409 C 1086.8461538461536,431.8705128205128 1169.3846153846155,420.2487179487179 1242,438 C 1314.6153846153845,455.7512820512821 1377.3076923076924,502.875641025641 1440,550 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,175 C 94.13589743589745,164.07051282051282 188.2717948717949,153.14102564102566 262,177 C 335.7282051282051,200.85897435897434 389.0487179487179,259.5064102564102 461,277 C 532.9512820512821,294.4935897435898 623.5333333333334,270.83333333333337 721,296 C 818.4666666666666,321.16666666666663 922.8179487179486,395.1602564102564 997,432 C 1071.1820512820514,468.8397435897436 1115.1948717948717,468.525641025641 1184,482 C 1252.8051282051283,495.474358974359 1346.4025641025642,522.7371794871794 1440,550 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,175 C 90.90769230769229,171.67564102564103 181.81538461538457,168.35128205128208 259,175 C 336.1846153846154,181.64871794871792 399.6461538461539,198.2705128205128 475,230 C 550.3538461538461,261.7294871794872 637.6,308.56666666666666 711,347 C 784.4,385.43333333333334 843.9538461538459,415.4628205128206 936,429 C 1028.046153846154,442.5371794871794 1152.5846153846155,439.5820512820512 1242,457 C 1331.4153846153845,474.4179487179488 1385.7076923076922,512.2089743589744 1440,550 L 1440,500 L 0,500 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,500 L 0,275 C 102.42307692307693,282.99102564102566 204.84615384615387,290.98205128205126 270,306 C 335.15384615384613,321.01794871794874 363.03846153846155,343.0628205128205 439,364 C 514.9615384615385,384.9371794871795 638.9999999999999,404.7666666666666 742,427 C 845.0000000000001,449.2333333333334 926.9615384615386,473.8705128205129 989,507 C 1051.0384615384614,540.1294871794871 1093.1538461538462,581.751282051282 1165,607 C 1236.8461538461538,632.248717948718 1338.423076923077,641.124358974359 1440,650 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,275 C 99.16410256410259,282.01666666666665 198.32820512820518,289.03333333333336 267,306 C 335.6717948717948,322.96666666666664 373.85128205128206,349.88333333333327 457,372 C 540.148717948718,394.11666666666673 668.2666666666668,411.4333333333334 756,428 C 843.7333333333332,444.5666666666666 891.0820512820512,460.38333333333327 967,483 C 1042.9179487179488,505.61666666666673 1147.4051282051282,535.0333333333333 1231,564 C 1314.5948717948718,592.9666666666667 1377.297435897436,621.4833333333333 1440,650 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,275 C 87.57948717948719,249.0448717948718 175.15897435897438,223.0897435897436 256,239 C 336.8410256410256,254.9102564102564 410.94358974358977,312.6858974358974 497,351 C 583.0564102564102,389.3141025641026 681.0666666666666,408.16666666666674 754,421 C 826.9333333333334,433.83333333333326 874.7897435897438,440.64743589743586 937,472 C 999.2102564102562,503.35256410256414 1075.7743589743588,559.2435897435897 1162,593 C 1248.2256410256412,626.7564102564103 1344.1128205128207,638.3782051282051 1440,650 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,275 C 59.15897435897435,253.9525641025641 118.3179487179487,232.90512820512822 196,256 C 273.6820512820513,279.0948717948718 369.88717948717954,346.3320512820513 465,382 C 560.1128205128205,417.6679487179487 654.1333333333333,421.76666666666665 735,441 C 815.8666666666667,460.23333333333335 883.579487179487,494.60128205128206 948,514 C 1012.420512820513,533.398717948718 1073.5487179487181,537.8282051282051 1155,558 C 1236.4512820512819,578.1717948717949 1338.225641025641,614.0858974358974 1440,650 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,275 C 102.42307692307693,282.99102564102566 204.84615384615387,290.98205128205126 270,306 C 335.15384615384613,321.01794871794874 363.03846153846155,343.0628205128205 439,364 C 514.9615384615385,384.9371794871795 638.9999999999999,404.7666666666666 742,427 C 845.0000000000001,449.2333333333334 926.9615384615386,473.8705128205129 989,507 C 1051.0384615384614,540.1294871794871 1093.1538461538462,581.751282051282 1165,607 C 1236.8461538461538,632.248717948718 1338.423076923077,641.124358974359 1440,650 L 1440,500 L 0,500 Z"
    );
  }
}
.path-3 {
  animation: pathAnim-3 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-3 {
  0% {
    d: path(
      "M 0,500 L 0,375 C 76.93589743589743,374.7653846153846 153.87179487179486,374.53076923076924 225,387 C 296.12820512820514,399.46923076923076 361.448717948718,424.6423076923076 435,451 C 508.551282051282,477.3576923076924 590.3333333333333,504.9000000000001 675,538 C 759.6666666666667,571.0999999999999 847.2179487179487,609.7576923076923 927,633 C 1006.7820512820513,656.2423076923077 1078.7948717948718,664.0692307692308 1163,681 C 1247.2051282051282,697.9307692307692 1343.602564102564,723.9653846153847 1440,750 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,375 C 76.58974358974359,380.74743589743593 153.17948717948718,386.4948717948718 233,403 C 312.8205128205128,419.5051282051282 395.8717948717949,446.76794871794874 467,460 C 538.1282051282051,473.23205128205126 597.3333333333333,472.4333333333334 676,497 C 754.6666666666667,521.5666666666666 852.7948717948718,571.498717948718 954,607 C 1055.2051282051282,642.501282051282 1159.4871794871797,663.571794871795 1241,685 C 1322.5128205128203,706.428205128205 1381.2564102564102,728.2141025641025 1440,750 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,375 C 83.18717948717949,349.8423076923077 166.37435897435898,324.6846153846154 242,342 C 317.625641025641,359.3153846153846 385.68974358974356,419.1038461538461 454,455 C 522.3102564102564,490.8961538461539 590.8666666666667,502.9 677,523 C 763.1333333333333,543.1 866.8435897435897,571.296153846154 946,605 C 1025.1564102564103,638.703846153846 1079.7589743589742,677.9153846153846 1158,703 C 1236.2410256410258,728.0846153846154 1338.1205128205129,739.0423076923078 1440,750 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,375 C 56.54358974358976,374.16282051282053 113.08717948717953,373.325641025641 205,386 C 296.9128205128205,398.674358974359 424.1948717948718,424.8602564102564 508,445 C 591.8051282051282,465.1397435897436 632.1333333333334,479.23333333333335 696,506 C 759.8666666666666,532.7666666666667 847.2717948717948,572.2064102564102 939,609 C 1030.7282051282052,645.7935897435898 1126.7794871794872,679.9410256410257 1211,703 C 1295.2205128205128,726.0589743589743 1367.6102564102564,738.0294871794872 1440,750 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,375 C 76.93589743589743,374.7653846153846 153.87179487179486,374.53076923076924 225,387 C 296.12820512820514,399.46923076923076 361.448717948718,424.6423076923076 435,451 C 508.551282051282,477.3576923076924 590.3333333333333,504.9000000000001 675,538 C 759.6666666666667,571.0999999999999 847.2179487179487,609.7576923076923 927,633 C 1006.7820512820513,656.2423076923077 1078.7948717948718,664.0692307692308 1163,681 C 1247.2051282051282,697.9307692307692 1343.602564102564,723.9653846153847 1440,750 L 1440,500 L 0,500 Z"
    );
  }
}
body {
  width: 8.27in;
  height: 11.69in;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
}
.fas {
  color: #ffde59;
  font-size: 20px;
}
.fa-shopping-cart {
  color: white;
}
header img {
  width: 750px;
  height: 300px;
  position: absolute;
  z-index: -1;
}
.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #225d51 0%, rgba(66, 122, 98, 1) 50%);
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 50px;
}
.home-features {
  margin-top: 20px;
}
.home-features h2 {
  font-size: 28px;
  color: white;
}
.home-features ul {
  list-style: none;
  margin-top: 20px;
  color: white;
  line-height: 2;
}
.home-features ul li {
  font-size: 16px;
}
.home-features a {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}
.containers {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.containers .btn {
  position: relative;
  top: 16px;
  left: -378px;
  width: 250px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containers .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.containers .btn:hover a {
  letter-spacing: 3px;
}
.containers .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.containers .btn:hover a::before {
  transform: skewX(45deg) translate(200px);
}
.containers .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #ffde59;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.containers .btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.containers .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #ffde59;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.containers .btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.containers .btn:nth-child(1)::before,
.containers .btn:nth-child(1)::after {
  background: #ffde59;
  box-shadow: 0 0 5px #ffde59, 0 0 15px #ffde59, 0 0 30px #ffde59, 0 0 60px #ffde59;
}
